visu/visu_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- basic types -->
  <xsd:simpleType name="addr">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9]{1,2}/[0-9]{1,2}/[0-9]{1,3}|[A-Za-z][A-Za-z0-9_\-\.]*)" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dimension">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>

  <xsd:simpleType name="uri">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>

  <xsd:complexType name="layout">
    <xsd:attribute name="colspan" type="xsd:decimal" use="optional" />
    <xsd:attribute name="rowspan" type="xsd:decimal" use="optional" />
    <xsd:attribute name="x" type="xsd:string" use="optional" />
    <xsd:attribute name="y" type="xsd:string" use="optional" />
    <xsd:attribute name="z" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="address">
    <xsd:simpleContent>
      <xsd:extension base="addr">
        <xsd:attribute ref="transform" use="required" />
        <xsd:attribute ref="mode" use="optional" />
        <xsd:attribute name="type" type="xsd:string" use="optional" />
        <xsd:attribute name="variant" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="entry" mixed="true">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="icon" type="icon" />
    </xsd:choice>
    <xsd:attribute ref="value" />
    <xsd:attributeGroup ref="range" />
  </xsd:complexType>

  <!-- simple elements -->
  <xsd:complexType name="icon">
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="type" type="xsd:string" use="optional" />
    <xsd:attribute name="flavour" type="xsd:string" use="optional" />
  </xsd:complexType>

  <!-- attributes -->
  <xsd:attribute name="min" type="xsd:decimal" />
  <xsd:attribute name="max" type="xsd:decimal" />
  <xsd:attribute name="step" type="xsd:decimal" />

  <xsd:attribute name="transform" type="xsd:string" />
  <xsd:attribute name="format" type="xsd:string" />

  <xsd:attributeGroup name="range">
    <xsd:attribute name="range_min" type="xsd:float" />
    <xsd:attribute name="range_max" type="xsd:float" />
  </xsd:attributeGroup>

  <xsd:attribute name="mapping" type="xsd:string" />
  <xsd:attribute name="styling" type="xsd:string" />
  <xsd:attribute name="value" type="xsd:string" />

  <xsd:attribute name="mode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="disable" />
        <xsd:enumeration value="read" />
        <xsd:enumeration value="write" />
        <xsd:enumeration value="readwrite" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  
  <xsd:simpleType name="rss_mode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="first" />
      <xsd:enumeration value="last" />
      <xsd:enumeration value="rollover" />
    </xsd:restriction>
  </xsd:simpleType>
      
  <xsd:attribute name="series">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="hour" />
              <xsd:enumeration value="day" />
              <xsd:enumeration value="week" />
              <xsd:enumeration value="month" />
              <xsd:enumeration value="year" />
          </xsd:restriction>
      </xsd:simpleType>
  </xsd:attribute>
  
  <xsd:attribute name="datasource">
      <xsd:simpleType>
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="MIN" />
              <xsd:enumeration value="AVERAGE" />
              <xsd:enumeration value="MAX" />
          </xsd:restriction>
      </xsd:simpleType>
  </xsd:attribute>
  
  <xsd:attribute name="align">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="left" />
        <xsd:enumeration value="right" />
        <xsd:enumeration value="center" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="variant" type="xsd:string" />

  <xsd:attribute name="legendposition">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="nw">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">topleft</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="ne">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">topright</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="sw">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">bottomleft</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="se">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">bottomright</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  <xsd:attribute name="legend">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="both" />
        <xsd:enumeration value="inline" />
        <xsd:enumeration value="popup" />
        <xsd:enumeration value="none" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  
    <xsd:attribute name="backend">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="cgi" />
        <xsd:enumeration value="oh" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  <xsd:simpleType name="navbarPositionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="top" />
      <xsd:enumeration value="left" />
      <xsd:enumeration value="right" />
      <xsd:enumeration value="bottom" />
    </xsd:restriction>
  </xsd:simpleType>
  

  <xsd:attribute name="lang">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="de">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">german</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="en">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">english</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="es">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">spanish</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="fr">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">french</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="it">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">italian</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="ru">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">russian</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>

  <xsd:attribute name="linktarget">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="_new" />
        <xsd:enumeration value="_self" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>



  <!-- complex elements -->
  <xsd:element name="pages">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="meta" type="meta" />
        <xsd:element name="page" type="page" minOccurs="1" maxOccurs="1" />
      </xsd:choice>
      <xsd:attribute name="design" type="xsd:string" use="required" />
      <xsd:attribute ref="backend" use="optional" />
      <xsd:attribute name="scroll_speed" type="xsd:decimal" use="optional" />
      <xsd:attribute name="max_mobile_screen_width" type="xsd:decimal" use="optional" />
      <xsd:attribute name="min_column_width" type="xsd:decimal" use="optional" />
      <xsd:attribute name="default_columns" type="xsd:decimal" use="optional" />
      <xsd:attribute name="enable_column_adjustment" type="xsd:boolean" use="optional" />
      <xsd:attribute name="lib_version" type="xsd:integer" use="optional">
          <xsd:annotation>
              <xsd:documentation xml:lang="en">version of the CometVisu-library this configuration is for.</xsd:documentation>
          </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="meta">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="plugins" type="plugins" />
      <xsd:element name="icons" type="icons" />
      <xsd:element name="mappings" type="mappings" />
      <xsd:element name="stylings" type="stylings" />
      <xsd:element name="statusbar" type="statusbar" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="plugins">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="plugin" type="plugin" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="plugin">
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="icons">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="icon-definition" type="icon-definition" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="icon-definition">
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="uri" type="xsd:string" use="required" />
    <xsd:attribute name="style" type="xsd:string" use="optional" />
    <xsd:attribute name="type" type="xsd:string" use="optional" />
    <xsd:attribute name="flavour" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="mappings">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="mapping" type="mapping" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="mapping">
    <xsd:choice>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="entry" type="entry" minOccurs="1" />
      </xsd:choice>
      <xsd:element name="formula" type="xsd:string" />
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="stylings">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="styling" type="styling_entry" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="styling_entry">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="entry" type="entry" minOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:complexType name="status">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="xsd:string" use="optional" />
        <xsd:attribute name="condition" type="xsd:string" use="optional" />
        <xsd:attribute name="hrefextend" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="statusbar">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="status" type="status" minOccurs="1" />
    </xsd:choice>
  </xsd:complexType>

  <!-- define a page - if you add a new widget, you need to list it here -->
  <xsd:complexType name="page">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <!-- visual effects -->
      <xsd:element name="line" type="line" />
      <xsd:element name="break" type="break" />
      <xsd:element name="group" type="group" />
      <xsd:element name="navbar" type="navbar" />
      <!-- list all possbile widgets here -->
      <xsd:element name="text" type="text" />
      <xsd:element name="switch" type="switch" />
      <xsd:element name="toggle" type="switch" />
      <xsd:element name="trigger" type="trigger" />
      <xsd:element name="urltrigger" type="urltrigger" />
      <xsd:element name="multitrigger" type="multitrigger" />
      <xsd:element name="infotrigger" type="infotrigger" />
      <xsd:element name="designtoggle" type="designtoggle" />
      <xsd:element name="slide" type="slide" />
      <xsd:element name="info" type="info" />
      <xsd:element name="shade" type="info" />
      <xsd:element name="image" type="image" />
      <xsd:element name="imagetrigger" type="imagetrigger" />
      <xsd:element name="video" type="video" />
      <xsd:element name="iframe" type="iframe" />
      <xsd:element name="rgb" type="rgb" />
      <xsd:element name="pagejump" type="pagejump" />
      <!-- available plugins - include not checked -->
      <xsd:element name="colorchooser" type="colorchooser" />
      <xsd:element name="diagram_popup" type="diagram_popup" />
      <xsd:element name="diagram_inline" type="diagram_inline" />
      <xsd:element name="diagram_info" type="diagram_info" />
      <xsd:element name="diagram" type="diagram" />
      <xsd:element name="gweather" type="gweather" />
      <xsd:element name="rss" type="rss" />
      <xsd:element name="rsslog" type="rsslog" />
      <xsd:element name="strftime" type="strftime" />
      <xsd:element name="upnpcontroller" type="upnpcontroller" />
      <xsd:element name="page" type="page" />
      <xsd:element name="layout" type="layout" />
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="flavour" type="xsd:string" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute name="ga" type="addr" use="optional" />
    <xsd:attribute name="visible" type="xsd:boolean" />
    <xsd:attribute name="type" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="text" />
          <xsd:enumeration value="2d" />
          <xsd:enumeration value="3d" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="backdrop" type="uri" use="optional" />
    <xsd:attribute name="showtopnavigation" type="xsd:boolean" use="optional" />
    <xsd:attribute name="showfooter" type="xsd:boolean" use="optional" />
    <xsd:attribute name="shownavbar" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="group">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <!-- visual effects -->
      <xsd:element name="line" type="line" />
      <xsd:element name="break" type="break" />
      <!-- list all possbile widgets here -->
      <xsd:element name="text" type="text" />
      <xsd:element name="switch" type="switch" />
      <xsd:element name="toggle" type="switch" />
      <xsd:element name="trigger" type="trigger" />
      <xsd:element name="urltrigger" type="urltrigger" />
      <xsd:element name="multitrigger" type="multitrigger" />
      <xsd:element name="infotrigger" type="infotrigger" />
      <xsd:element name="designtoggle" type="designtoggle" />
      <xsd:element name="slide" type="slide" />
      <xsd:element name="info" type="info" />
      <xsd:element name="shade" type="info" />
      <xsd:element name="image" type="image" />
      <xsd:element name="imagetrigger" type="imagetrigger" />
      <xsd:element name="video" type="video" />
      <xsd:element name="iframe" type="iframe" />
      <xsd:element name="rgb" type="rgb" />
      <xsd:element name="pagejump" type="pagejump" />
      <!-- available plugins - include not checked -->
      <xsd:element name="colorchooser" type="colorchooser" />
      <xsd:element name="diagram_popup" type="diagram_popup" />
      <xsd:element name="diagram_inline" type="diagram_inline" />
      <xsd:element name="diagram_info" type="diagram_info" />
      <xsd:element name="diagram" type="diagram" />
      <xsd:element name="gweather" type="gweather" />
      <xsd:element name="rss" type="rss" />
      <xsd:element name="rsslog" type="rsslog" />
      <xsd:element name="strftime" type="strftime" />
      <xsd:element name="upnpcontroller" type="upnpcontroller" />
      <xsd:element name="page" type="page" />
      <xsd:element name="group" type="group" />
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" use="optional" />
    <xsd:attribute name="nowidget" type="xsd:boolean" use="optional" />
    <xsd:attribute name="flavour" type="xsd:string" use="optional" />
    <xsd:attribute name="pagejumptarget" type="xsd:string" use="optional" />
    <xsd:attribute ref="align" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="navbar">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <!-- visual effects -->
      <xsd:element name="line" type="line" />
      <xsd:element name="break" type="break" />
      <xsd:element name="group" type="group" />
      <!-- list all possbile widgets here -->
      <xsd:element name="text" type="text" />
      <xsd:element name="switch" type="switch" />
      <xsd:element name="toggle" type="switch" />
      <xsd:element name="trigger" type="trigger" />
      <xsd:element name="urltrigger" type="urltrigger" />
      <xsd:element name="multitrigger" type="multitrigger" />
      <xsd:element name="infotrigger" type="infotrigger" />
      <xsd:element name="designtoggle" type="designtoggle" />
      <xsd:element name="slide" type="slide" />
      <xsd:element name="info" type="info" />
      <xsd:element name="shade" type="info" />
      <xsd:element name="image" type="image" />
      <xsd:element name="imagetrigger" type="imagetrigger" />
      <xsd:element name="video" type="video" />
      <xsd:element name="iframe" type="iframe" />
      <xsd:element name="rgb" type="rgb" />
      <xsd:element name="pagejump" type="pagejump" />
      <!-- available plugins - include not checked -->
      <xsd:element name="colorchooser" type="colorchooser" />
      <xsd:element name="diagram_popup" type="diagram_popup" />
      <xsd:element name="diagram_inline" type="diagram_inline" />
      <xsd:element name="diagram_info" type="diagram_info" />
      <xsd:element name="diagram" type="diagram" />
      <xsd:element name="gweather" type="gweather" />
      <xsd:element name="rss" type="rss" />
      <xsd:element name="strftime" type="strftime" />
      <xsd:element name="upnpcontroller" type="upnpcontroller" />
      <xsd:element name="page" type="page" />
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" use="optional" />
    <xsd:attribute name="position" type="navbarPositionType" use="required" />
    <xsd:attribute name="dynamic" type="xsd:boolean" use="optional" />
    <xsd:attribute name="width" type="xsd:string" use="optional" />
    <xsd:attribute name="scope" type="xsd:decimal" use="optional" />
  </xsd:complexType>

  <!-- more fun part - all widgets - if you add a new widget, you need to define it here -->

  <xsd:complexType name="text" mixed="true">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="icon" type="icon" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute ref="align" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="designtoggle">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string" />
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="label" mixed="true">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="icon" type="icon" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="switch">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" />
    </xsd:choice>
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute name="on_value" type="xsd:string" use="optional" />
    <xsd:attribute name="off_value" type="xsd:string" use="optional" />
    <xsd:attribute ref="align" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="toogle">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" />
    </xsd:choice>
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="align" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="trigger">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" />
    </xsd:choice>
    <xsd:attribute ref="value" use="required" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="urltrigger">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute ref="value" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute name="url" type="xsd:string" use="required" />
    <xsd:attribute name="params" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="infotrigger">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" maxOccurs="unbounded" />
    </xsd:choice>
    <xsd:attribute name="upvalue" type="xsd:string" use="optional" />
    <xsd:attribute name="downvalue" type="xsd:string" use="optional" />
    <xsd:attribute name="uplabel" type="xsd:string" use="optional" />
    <xsd:attribute name="downlabel" type="xsd:string" use="optional" />
    <xsd:attribute name="change" type="xsd:string" use="optional" />
    <xsd:attribute ref="min" />
    <xsd:attribute ref="max" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="align" use="optional" />
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute name="infoposition" type="xsd:decimal" use="optional" />
  </xsd:complexType>
  
  <xsd:complexType name="rgb">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="3" maxOccurs="unbounded" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="multitrigger">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" />
    </xsd:choice>
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute name="showstatus" type="xsd:string" use="optional" />
    <xsd:attribute name="button1label" type="xsd:string" use="optional" />
    <xsd:attribute name="button1value" type="xsd:string" use="optional" />
    <xsd:attribute name="button2label" type="xsd:string" use="optional" />
    <xsd:attribute name="button2value" type="xsd:string" use="optional" />
    <xsd:attribute name="button3label" type="xsd:string" use="optional" />
    <xsd:attribute name="button3value" type="xsd:string" use="optional" />
    <xsd:attribute name="button4label" type="xsd:string" use="optional" />
    <xsd:attribute name="button4value" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="slide">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute ref="min" />
    <xsd:attribute ref="max" />
    <xsd:attribute ref="step" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute name="flavour" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="info">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute ref="align" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="image">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="label" type="label" />
    </xsd:choice>
    <xsd:attribute name="src" type="uri" use="required" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="refresh" type="xsd:decimal" />
  </xsd:complexType>

  <xsd:complexType name="imagetrigger">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="label" type="label" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="src" type="xsd:string" />
    <xsd:attribute name="suffix" type="xsd:string" use="required" />
    <xsd:attribute name="type" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="refresh" type="xsd:decimal" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute name="sendValue" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="video">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="label" type="label" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="src" type="uri" use="required" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="autoplay" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="iframe">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="label" type="label" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="src" type="uri" use="required" />
    <xsd:attribute name="width" type="dimension" />
    <xsd:attribute name="height" type="dimension" />
    <xsd:attribute name="frameborder" type="xsd:string" />
    <xsd:attribute name="background" type="xsd:string" />
    <xsd:attribute name="refresh" type="xsd:decimal" />
  </xsd:complexType>

  <xsd:complexType name="pagejump">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="label" type="label" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="target" type="xsd:string" />
    <xsd:attribute ref="align" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="colorchooser">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="3" maxOccurs="3" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="diagram">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="axis" type="axis" />
      <xsd:element name="rrd" type="rrd" />
    </xsd:choice>
    <xsd:attribute name="rrd" type="xsd:string" use="optional" />
    <xsd:attribute name="unit" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="dimension" use="optional" />
    <xsd:attribute ref="series" use="optional" />
    <xsd:attribute name="height" type="dimension" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="period" type="xsd:string" use="optional" />
    <xsd:attribute ref="datasource" use="optional" />
    <xsd:attribute name="linecolor" type="xsd:string" use="optional" />
    <xsd:attribute name="gridcolor" type="xsd:string" use="optional" />
    <xsd:attribute name="yaxismin" type="xsd:string" use="optional" />
    <xsd:attribute name="yaxismax" type="xsd:string" use="optional" />
    <xsd:attribute ref="legend" use="optional" />
    <xsd:attribute ref="legendposition" use="optional" />
    <xsd:attribute name="popup" type="xsd:boolean" use="optional" />
    <xsd:attribute name="previewlabels" type="xsd:boolean" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute name="tooltip" type="xsd:boolean" use="optional" />
  </xsd:complexType>
  
  <xsd:complexType name="diagram_inline">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="axis" type="axis" />
      <xsd:element name="rrd" type="rrd" />
    </xsd:choice>
    <xsd:attribute name="rrd" type="xsd:string" use="optional" />
    <xsd:attribute name="unit" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="dimension" use="optional" />
    <xsd:attribute ref="series" use="optional" />
    <xsd:attribute name="height" type="dimension" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="period" type="xsd:string" use="optional" />
    <xsd:attribute ref="datasource" use="optional" />
    <xsd:attribute name="linecolor" type="xsd:string" use="optional" />
    <xsd:attribute name="gridcolor" type="xsd:string" use="optional" />
    <xsd:attribute name="yaxismin" type="xsd:string" use="optional" />
    <xsd:attribute name="yaxismax" type="xsd:string" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="diagram_popup">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="axis" type="axis" />
      <xsd:element name="rrd" type="rrd" />
    </xsd:choice>
    <xsd:attribute name="rrd" type="xsd:string" use="optional" />
    <xsd:attribute name="unit" type="xsd:string" use="optional" />
    <xsd:attribute ref="series" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="period" type="xsd:string" use="optional" />
    <xsd:attribute ref="datasource" use="optional" />
    <xsd:attribute name="tooltip" type="xsd:boolean" use="optional" />
    <xsd:attribute name="linecolor" type="xsd:string" use="optional" />
    <xsd:attribute name="gridcolor" type="xsd:string" use="optional" />
    <xsd:attribute name="yaxismin" type="xsd:string" use="optional" />
    <xsd:attribute name="yaxismax" type="xsd:string" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="diagram_info">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="address" minOccurs="1" />
      <xsd:element name="axis" type="axis" />
      <xsd:element name="rrd" type="rrd" />
    </xsd:choice>
    <xsd:attribute ref="format" use="optional" />
    <xsd:attribute ref="styling" use="optional" />
    <xsd:attribute ref="mapping" use="optional" />
    <xsd:attribute name="rrd" type="xsd:string" use="optional" />
    <xsd:attribute name="unit" type="xsd:string" use="optional" />
    <xsd:attribute ref="series" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="period" type="xsd:string" use="optional" />
    <xsd:attribute ref="datasource" use="optional" />
    <xsd:attribute name="tooltip" type="xsd:boolean" use="optional" />
    <xsd:attribute name="linecolor" type="xsd:string" use="optional" />
    <xsd:attribute name="gridcolor" type="xsd:string" use="optional" />
    <xsd:attribute name="yaxismin" type="xsd:string" use="optional" />
    <xsd:attribute name="yaxismax" type="xsd:string" use="optional" />
    <xsd:attribute ref="legend" use="optional" />
    <xsd:attribute ref="legendposition" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute ref="align" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="gweather">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="width" type="dimension" use="optional" />
    <xsd:attribute name="height" type="dimension" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="city" type="xsd:string" use="required" />
    <xsd:attribute name="lang" type="xsd:string" use="optional" />
    <xsd:attribute name="image_url" type="xsd:string" use="optional" />
    <xsd:attribute name="current" type="xsd:boolean" use="optional" />
    <xsd:attribute name="forecast" type="xsd:boolean" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="rss">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="src" type="xsd:string" use="required" />
    <xsd:attribute name="width" type="dimension" use="optional" />
    <xsd:attribute name="height" type="dimension" use="optional" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="limit" type="xsd:integer" use="optional" />
    <xsd:attribute name="header" type="xsd:boolean" use="required" />
    <xsd:attribute name="date" type="xsd:boolean" use="optional" />
    <xsd:attribute name="content" type="xsd:boolean" use="optional" />
    <xsd:attribute name="snippet" type="xsd:boolean" use="optional" />
    <xsd:attribute name="showerror" type="xsd:boolean" use="optional" />
    <xsd:attribute name="ssl" type="xsd:boolean" use="optional" />
    <xsd:attribute ref="linktarget" use="optional" />
    <xsd:attribute name="link" type="xsd:boolean" use="optional" />
    <xsd:attribute name="title" type="xsd:boolean" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="rsslog">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="label" type="label" maxOccurs="1" />
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="src" type="xsd:string" use="required" />
    <xsd:attribute name="refresh" type="xsd:integer" use="optional" />
    <xsd:attribute name="limit" type="xsd:integer" use="optional" />
    <xsd:attribute name="mode" type="rss_mode" use="optional" />
    <xsd:attribute name="datetime" type="xsd:boolean" use="optional" />
    <xsd:attribute name="timeformat" type="xsd:string" use="optional" />
    <xsd:attribute name="filter" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="strftime">
    <xsd:choice maxOccurs="unbounded" minOccurs="1">
      <xsd:element name="layout" type="layout" minOccurs="0" maxOccurs="1" />
    </xsd:choice>
    <xsd:attribute name="lang" use="optional">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="en" />
          <xsd:enumeration value="de" />
          <xsd:enumeration value="fr" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="format" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="upnpcontroller">
    <xsd:attribute name="label" type="xsd:string" use="required" />
    <xsd:attribute name="player_ip_addr" type="xsd:string" use="required" />
    <xsd:attribute name="player_port" type="xsd:string" use="optional" />
    <xsd:attribute name="refresh" type="xsd:string" use="required" />
    <xsd:attribute name="debug" type="xsd:boolean" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="break" />

  <xsd:complexType name="line" />

  <!-- toggle is not yet implemented -->

  <xsd:complexType name="axis">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="label" type="xsd:string" />
        <xsd:attribute name="min" type="xsd:decimal" />
        <xsd:attribute name="max" type="xsd:decimal" />
        <xsd:attribute name="position" type="xsd:string" />
        <xsd:attribute name="unit" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="rrd">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="yaxis" type="xsd:string" />
        <xsd:attribute name="color" type="xsd:string" />
        <xsd:attribute name="label" type="xsd:string" />

      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>
